#grid-container {
  position: relative;
  flex: 1;
}

#grid {
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  margin: auto;
  border: 1px solid #000000;
}

.grid-cell-container {
  position: relative;
  padding-bottom: 100%;
}

.grid-cell {
  position: absolute;
  width: 100%;
  height: 100%;
}
