#base {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #c0c0c0;
  font-family: "Open Sans", sans-serif;
}

#base > header,
#base > footer {
  margin: 20px;
}
